== slim 'partials/header'.to_sym

/! begin::Body
.m-grid__item.m-grid__item--fluid.m-grid.m-grid--ver-desktop.m-grid--desktop.m-body
  == slim 'partials/left_nav'.to_sym


/! end::Body

== slim 'partials/footer'.to_sym